.banner p{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    margin: 0;
    color: rgb(255, 255, 255);
    background: #8959b3;  /* fallback for old browsers */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    text-align: center;
}