.footer *{
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    justify-content: right;
    margin-top: 18rem;
}

.footer h4{
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(92, 97, 97);
}

