@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@700&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto+Slab:wght@700&display=swap');
html,
body {
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  background: rgb(5, 5, 15);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection{
  color: wheat;
  background: #7050e2;
}