@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@700&family=Poppins&family=Roboto+Slab:wght@700&display=swap');

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main{
  margin-bottom: 0rem;
  margin-top: 13rem;
}

.name h1{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  font-weight: bolder;
  font-size: 7.5rem;
  letter-spacing: -0.5rem;
  text-transform: uppercase;
  font-family: 'Krona One', sans-serif;
}

.name h4{
  font-family: 'Krona One', sans-serif;
  font-size: 25px;
  margin-top: 0rem;
  margin-bottom: 0;
}

.name h3{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin-top: -4.5rem;
}

.icons li{
  font-size: 23px;
  display: inline-block;
  margin: 2rem;
  list-style-type: none;
}

.icons li:hover{
  color: #4A00E0;
  transition: ease-in-out 0.3s;
}



