.pageContainer{
    font-family: 'Poppins', sans-serif, 'font-weight: 500';
    text-align: left; 
    width: 60%; 
    margin: 5rem auto;
    height: auto;
}

.pageContainer button{
    font-family: 'Krona One', sans-serif;
    border: none;
    border-radius: 10px;
    width: auto;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(93, 62, 232);
    color: white;
}



.pageContainer p{
    font-size: 15.5px;
    width: 83%;
    color: rgb(157, 154, 152);
}

.pageContainer h1{
    font-size: 3.2rem;
}

.pageContainer span{
    color: rgb(143, 150, 150);
    display: flex;
    margin-top: -2.5rem;
    font-size: 1rem;
    animation: pulse 2s infinite;
}

.pageContainer img
{
   display: inline-block;
   flex-direction: column;
   width: 100%;
   margin-bottom: 5rem;
   margin-top: 2rem;
}

.pageContainer img:hover
{
    border: solid;
    border-color: rgb(53, 4, 169);
    border-width: 10px;
    transition: all ease-in-out 0.3s;
}

.flexitems:hover img{
    border: navajowhite;
}





@media only screen and (max-width: 600px) {
    .pageContainer {
        margin-top: 5rem;
        width: 80%;
        padding-bottom: 5rem;
        margin-bottom: 0rem;
    }

    .pageContainer p{
        font-size: 14.5px;
        width: 100%;
    }

    .pageContainer h1{
        font-size: 35px;
    }

    .pageContainer img{
       margin: 0rem;
       width: 105%;
    }

    .pageContainer button{
        width: 100%;
    }
  }

