.navbar *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar a{
    font-size: 12px;
    list-style: none;
    display: inline-block;
    margin: 1.3rem;
    color: white;;
}

.navbar a:hover{
    color: #7050e2;
    transition: ease-in-out 0.3s;
}

.navbar h3:hover{
    text-decoration: line-through;
}

.navbar header{
    display: flex;
    font-family: 'Krona One', sans-serif, 'font-weight: 400';
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar header i{
    display: none;
}

@media only screen and (max-width: 600px) {
   .navbar *{
       background-color: #12121d;
       width: auto;
       height: auto;
       border-radius: 10px;
       margin: 0;
   }
 
    .navbar a{
      font-size: 10px;
      display: inline;
      padding-right: 0px;
      margin: -2px;
   }

   .navbar h3{
       font-size: 20px;
       display: flex;
       margin-top: 0.5rem;
   }

}
