.navbar *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

.navbar li{
    font-size: 12px;
    list-style: none;
    display: inline-block;
    margin: 1.3rem;
    color: white;;
}

.navbar li:hover{
    color: #7050e2;
    transition: ease-in-out 0.3s;
}

.navbar header{
    display: flex;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-size: 1.1rem;
}

