.container{
  background: rgb(11, 11, 17);
  font-family: 'Montserrat', sans-serif;
    margin: 8% 20%;
    padding: 50px;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
}

.container h1{
  font-family: 'Poppins', sans-serif;
    font-size: 70px;
    margin-bottom:  0rem;
}


.container h3{
  font-size: 25px;
}

.container button{
    background: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 20px;
    width: 150px;
    margin-top: 2rem;
  }

.container i{
  background: #8E2DE2;  /* fallback for old browsers */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#back-btn button{
  color: white;
}
  
  .container button:hover{
    background: rgb(17, 17, 24);
    color: rgb(255, 255, 255);
    border-color: white;
    font-weight: bolder;
    transition: ease-in-out 0.3s;

  }

 